@import "../../styles/mixins";
@import "../../styles/variables";

.Login {
  @include flex-container($align: center, $justify: center);

  padding: 4.8rem 2rem 0;
  min-height: 39.5rem;

  .form {
    @include flex-container(
      $direction: column,
      $gap: 1.7rem,
      $justify: center,
      $align: center
    );
    @include max-border();

    padding: 1.5rem 3rem;
    height: 30rem;
    min-width: 260px;
    width: 100%;
    max-width: 760px;
    font-family: "Montserrat", sans-serif;

    h1 {
      text-align: center;
    }

    .row {
      @include flex-container($direction: column, $gap: 0.3rem);

      max-width: 165px;

      .label {
        font-weight: bold;
      }

      .input {
        height: 1.3rem;
        border: 0;
        border-bottom: 1px solid $LightPink;

        &:focus {
          border-radius: 5px;
          outline: 1px solid $LightPink;
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .Login {
    @include flex-container($justify: flex-start);

    padding: 7.2rem 2.5rem 0;
    min-height: 37.5rem;

    .form {
      @include flex-container(
        $direction: column,
        $gap: 2rem,
        $justify: center,
        $align: center
      );

      box-shadow: $StandardBoxShadow;
      max-width: 450px;
    }
  }
}
