@import "../../styles/mixins";
@import "../../styles/variables";

.MakeupCard {
  @include flex-container($direction: column);
  display: inline-flex;
  width: 10rem;
  height: 20rem;
  // min-width: 10rem;
  // min-height: 20rem;
  max-width: 13rem;
  max-height: 25rem;
  margin: 0 0 2rem 0;
  // padding: 0 5px;
  vertical-align: top;
  position: relative;
  z-index: 0;

  .imageDiv {
    @include min-border();
    width: 10rem;
    max-width: 100%;
    height: 10rem;
    transition: all 0.2s;
    // border: 0;
    // vertical-align: top;
    // border-radius: 5px;
    // border: 1px solid #d9ccf1;
    // box-shadow: 0 0px 3px #d9ccf1;
    // box-shadow: 0 0 5px #fff, 0 0 0px #f09, 0 0 3px #f09;

    .makeupImage {
      width: 100%;
      height: 100%;
    }

    &:hover {
      transform: scale(1.01);
      filter: saturate(1.3) contrast(1.1);
    }
  }
  .detailsDiv {
    @include flex-container(
      $direction: column,
      $justify: space-between,
      $align: center
    );
    // width: 10rem;
    max-width: 100%;
    height: 10rem;
    // height: 50%;
    // padding-top: 0.9rem;
    .title {
      padding: 0.8rem 0 0;
      width: 100%;
      font-weight: bolder;
      text-align: center;
      font-size: 1rem;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    .specsAndBtnDiv {
      @include flex-container(
        $direction: column,
        $gap: 0.7rem,
        // $align: center
      );
      width: 100%;
      .specifics {
        @include flex-container(
          $direction: column,
          $gap: 0.2rem,
          $align: center
        );

        .brand {
          font-size: 0.87rem;
          font-weight: bold;
          text-align: center;
          &::first-letter {
            text-transform: uppercase;
          }
        }

        .category,
        .price {
          font-size: 0.84rem;
          font-weight: bold;
        }
      }
    }

    .wishListBtn {
      color: $MainPink;
      position: absolute;
      top: 2%;
      right: 7%;
      cursor: pointer;
      transition: all 0.2s;

      &.active {
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .MakeupCard {
    @include flex-container($direction: column);
    // display: inline-flex;
    // width: 10rem;
    // height: 20rem;
    // min-width: 10rem;
    // min-height: 20rem;
    // max-width: 15rem;
    max-height: 25rem;
    // margin: 0 0 20px 0;
    // padding: 0 5px;
    vertical-align: top;
    position: relative;

    .imageDiv {
      width: auto;
      max-width: 100%;
      height: 50%;
      border: 0;
      vertical-align: top;

      .makeupImage {
        width: 100%;
        height: 100%;
      }
    }
    .detailsDiv {
      // @include flex-container(
      //   $direction: column,
      //   $justify: space-around,
      //   $align: center
      // );

      height: 50%;
      .title {
        font-weight: bolder;
      }

      .specsAndBtnDiv {
        @include flex-container(
          $direction: column,
          $gap: 0.8rem,
          // $align: center
        );
        width: 100%;
        .specifics {
          .brand {
            font-weight: bold;
            &::first-letter {
              text-transform: uppercase;
            }
          }

          .category,
          .price {
            font-size: 0.84rem;
            font-weight: bold;
          }
        }
      }

      .wishListBtn {
        position: absolute;
        top: 2%;
        right: 7%;
      }
    }
  }
}

@media only screen and (min-width: 1290px) {
}
