@import "../../styles/mixins";
@import "../../styles/variables";

.Button {
  @include max-border();
  font-size: medium;
  background-color: white;
  height: 1.8rem;
  width: 185px;
  cursor: pointer;

  &:active {
    text-shadow: $StandardTextShadow;
    color: white;
  }

  &.cardBtn {
    @include min-border();
    width: 100%;
    height: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    cursor: pointer;

    &:active {
      transform: translateY(2px);
    }
  }

  &.loadBtn {
    &.loadBtnActive {
      animation: fade 2.2s linear;
      animation-name: fade;
    }
  }

  @keyframes fade {
    0% {
      text-shadow: none;
    }
    100% {
      color: white;
      text-shadow: $StandardTextShadow;
    }
  }
}

@media only screen and (min-width: 767px) {
  .Button {
    &.card {
      max-width: 84%;
    }
  }
}
