@import "../../styles/mixins";

.Dashboard {
  padding-top: 3.7rem;

  .modalOverlay {
    @include flex-container($justify: center, $align: center);
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(2px);
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    // visibility: hidden;
    // opacity: 1;

    .modal {
      @include flex-container(
        $justify: center,
        $align: center,
        $direction: column,
        $gap: 1.3rem
      );
      position: fixed;
      box-sizing: border-box;
      background-color: ghostwhite;
      width: 20rem;
      height: 10rem;
      top: calc(50% - 5rem);
      border-radius: 20px;
      box-shadow: 0 0 10px #fff, 0 0 0px #f09, 0 0 15px #f09;
      text-align: center;
      z-index: 3;
      animation: fade 2s linear;

      @keyframes fade {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      &.active {
        // visibility: visible;
        // opacity: 1;
        // transform: scale(1);
        animation-name: fade;
        animation-duration: 2s;
      }
    }
  }
}
