@import "../../styles/mixins";

.MakeupList {
  @include flex-container($wrap: wrap, $justify: space-around);

  box-sizing: border-box;
  margin: 1.2rem;
  z-index: 1;
  min-height: 30rem;

  p {
    @include flex-container($justify: center, $align: center);

    text-align: center;
  }
}

@media only screen and (min-width: 767px) {
  .MakeupList {
    @include flex-container($wrap: wrap, $justify: space-around, $gap: 1rem);

    margin: 3.4rem;
  }
}
