@import "../../../src/styles/mixins";

.modalBtn {
  width: 40%;
  background-color: white;
  height: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  cursor: pointer;

  // .modalBtn:active {
  //   color: #f09;
  // }
}
