@mixin flex-container(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap,
  $gap: 0px,
  $grow: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
  flex-grow: $grow;
}

@mixin text(
  $size: normal,
  $weight: normal,
  $transform: none,
  $decoration: none,
  $color: none
) {
  font-size: $size;
  font-weight: $weight;
  text-transform: $transform;
  text-decoration: $decoration;
  color: $color;
}
@mixin dimensions($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin element-position(
  $position: static,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $z-index: 0
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin max-border() {
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 0 0 5px #fff, 0 0 0px #f09, 0 0 3px #f09;
}

@mixin min-border() {
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 5px #fff, 0 0 0px #f09, 0 0 3px #f09;
}
