* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

.App {
  padding-top: 3.6rem;
  height: 100%;
  width: 100%;
  // background-color: ghostwhite;
  //questi sotto sono utili se mettiamo una img di sfondo
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  .overlay {
    background-color: none;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}
