* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100%;
  background-color: ghostwhite;
  //questi sotto sono utili se mettiamo una img di sfondo
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
